@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="aboutCompany">
    <div class="container">
        <div class="image-container">
            <div class="img-woman">
                <img src="~/images/samantha.jpg" alt="About Company Image">
            </div>
        </div>
        <div class="text-container">
            <p class="title">About Company</p>
            <p class="bold">We Are Business<br> Consulting & Credit<br> Repair Experts</p>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam officiis quas
                assumenda esse obcaecati? Ex esse error voluptates iure vel totam eos. Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Omnis esse quasi incidunt adipisci
                accusantium libero provident voluptate amet.
            </p>
            <div class="intro-button">
                <div class="btn">
                    Learn More&nbsp;<i class="fa-regular fa-arrow-up-right fa-beat-fade"></i>
                </div>
                <a href="">
                    <i class="fa-light fa-circle-play fa-2xl"></i>&nbsp;Intro Video
                </a>
            </div>
        </div>
    </div>
</div>

