@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="articles-news">
    <div class="articles-container">
        <div class="articles-grid">
            <div class="article">
                <div class="article-image">
                    <img src="/images/businessinsights.jpg" alt="business insights">
                </div>
                <div class="article-content">
                    <p class="article-category">Business</p>
                    <h3 class="article-title">Using Business Intelligence To Get Insights Into Our Businesses</h3>
                    <p class="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
            </div>
            <div class="article">
                <div class="article-image">
                    <img src="/images/whyclient.jpg" alt="why client">
                </div>
                <div class="article-content">
                    <p class="article-category">Business</p>
                    <h3 class="article-title">Apple Has Released New Products. Are They Any Good?</h3>
                    <p class="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
            </div>
            <div class="article">
                <div class="article-image">
                    <img src="/images/educate.jpg" alt="educate">
                </div>
                <div class="article-content">
                    <p class="article-category">Business</p>
                    <h3 class="article-title">How To Improve Your Teams And Get A Better Result</h3>
                    <p class="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
            </div>
        </div>
    </div>
</div>