@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="articles-news">
    <div class="articles-container">
        <div class="articles-grid">
            <div class="article">
                <div class="article-image">
                    <img src="/images/fiveS.jpg" alt="fiveS">
                </div>
                <div class="article-content">
                    <p class="article-category">Business</p>
                    <h3 class="article-title">Why You Need To Implement The Five S's</h3>
                    <p class="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
            </div>
            <div class="article">
                <div class="article-image">
                    <img src="/images/endusers.jpg" alt="endusers">
                </div>
                <div class="article-content">
                    <p class="article-category">Business</p>
                    <h3 class="article-title">Get More Involved With Your End Users</h3>
                    <p class="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
            </div>
            <div class="article">
                <div class="article-image">
                    <img src="/images/guidedtour.jpg" alt="guided tour">
                </div>
                <div class="article-content">
                    <p class="article-category">Business</p>
                    <h3 class="article-title">Guided Tour Of Our New Head Office In Stockholm</h3>
                    <p class="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
            </div>
        </div>
    </div>
</div>