@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="articles-news">
    <div class="articles-container">
        <div class="articles-header">
            <div class="header-left">
                <p class="articles-title">Article & News</p>
                <h2 class="articles-subtitle">Get Every Single Articles & News</h2>
            </div>
            <button class="browse-articles-btn">Browse Articles&nbsp;<i class="fa-regular fa-arrow-up-right fa-beat-fade"></i></button>
        </div>
        <div class="articles-grid">
            <div class="article">
                <div class="article-image">
                    <img src="/images/howtousepicture.jpg" alt="howtouse">
                </div>
                <div class="article-content">
                    <p class="article-category">Business</p>
                    <h3 class="article-title">How To Use Digitalization In The Classroom</h3>
                    <p class="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
            </div>
            <div class="article">
                <div class="article-image">
                    <img src="/images/chatgpt.jpg" alt="chatgpt">
                </div>
                <div class="article-content">
                    <p class="article-category">Business</p>
                    <h3 class="article-title">How To Implement Chat GPT In Your Projects</h3>
                    <p class="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
            </div>
            <div class="article">
                <div class="article-image">
                    <img src="/images/moderncss.jpg" alt="modern css">
                </div>
                <div class="article-content">
                    <p class="article-category">Business</p>
                    <h3 class="article-title">The Guide To Support Modern CSS Design</h3>
                    <p class="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
            </div>
        </div>
    </div>
</div>
