@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="blog-post">
    <div class="container">
        <div class="post-content">
            <h1 class="post-title">How To Use Digitalization In The Classroom</h1>
            <div class="post-meta">
                <span class="post-date">Mar 25, 2023</span>
                <span class="post-category">Business</span>
                <span class="post-author">Kimberly Hansen</span>
            </div>
            <div class="post-image">
                <img src="/images/howtousepicture.jpg" alt="Digitalization in Classroom">
            </div>
            <div class="post-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
                <p>Nulla venenatis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec lorem. In porttitor. Donec laoreet nonummy augue.</p>
                <p>Suspendisse dui. Fusce diam. Praesent lectus. Nullam justo. Nullam ultrices, diam tempus vulputate egestas, eros pede varius leo, sed imperdiet lectus tortor non nunc. Ut euismod, turpis sollicitudin lobortis egestas, sem libero ultricies risus, at congue lorem felis ut massa.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
                </blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
                <div class="post-tags">
                    <span>Digitalization</span>
                    <span>School</span>
                    <span>IT</span>
                    <span>Design</span>
                    <span>Work</span>
                    <span>Tech</span>
                </div>
            </div>
        </div>
        <aside class="sidebar">
            <div class="search-bar">
                <input type="text" placeholder="Type to search...">
            </div>
            <div class="recent-posts">
                <h2>Recent Posts</h2>
                <ul>
                    <li><a href="#">How To Blow Through Capital At An Incredible Rate</a></li>
                    <li><a href="#">Design Studios That Everyone Should Know About?</a></li>
                    <li><a href="#">How did we get 1M+ visitors in 30 days without anything!</a></li>
                    <li><a href="#">Figma On Figma: How We Built Our Website Design System</a></li>
                </ul>
            </div>
            <div class="categories">
                <h2>Categories</h2>
                <ul>
                    <li><a href="#">Technology - 20 Posts</a></li>
                    <li><a href="#">Freelancing - 07 Posts</a></li>
                    <li><a href="#">Writing - 16 Posts</a></li>
                    <li><a href="#">Marketing - 11 Posts</a></li>
                    <li><a href="#">Business - 25 Posts</a></li>
                    <li><a href="#">Education - 14 Posts</a></li>
                </ul>
            </div>
        </aside>
    </div>
</div>