@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="why-us">
    <div class="container">
        <div>
            <p>Why Choose Us</p>
            <p class="bold">Why We Are The<br> Best Business<br> Consulting Agency</p>
            <div class="container">
                <div class="container"><i class="fa-sharp fa-light fa-thumbs-up fa-lg" style="color: #1d1d1d;"></i>
                    <i class="fa-light fa-diamond fa-lg" style="color: #292929;"></i>
                    <i class="fa-sharp fa-regular fa-pen-nib fa-flip-vertical fa-lg" style="color: #191919;"></i>
                    <i class="fa-sharp fa-light fa-head-side-gear fa-lg" style="color: #191919;"></i>
                </div>
                <div class="text">Process&nbsp;Excellence
                    <div class="thin">Lorem, ipsum dolor sit amet consectetur.</div><br>

                    Strategic Planning
                    <div class="thin">Lorem, ipsum dolor sit amet consectetur.</div><br>
                    Experience Design
                    <div class="thin">Lorem, ipsum dolor sit amet consectetur.</div><br>
                    Artificial&nbsp;Inteligence
                    <div class="thin">Lorem, ipsum dolor sit amet consectetur.</div>
                </div>
            </div>
        </div>
        <div class="why-us-pic"><img src="~/images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt=""></div>
    </div>
    </section>