@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="contact-section">
    <div class="contact-card">
        <div class="icon">
            <i class="fas fa-map-marker-alt"></i>
        </div>
        <h3>Visit us</h3>
        <p>Sveavägen 31<br>111 34 STOCKHOLM</p>
    </div>
    <div class="contact-card">
        <div class="icon">
            <i class="fas fa-phone-alt"></i>
        </div>
        <h3>Call us</h3>
        <p>+46 (8) 121 470 50<br>+46 (8) 121 470 51</p>
    </div>
    <div class="contact-card">
        <div class="icon">
            <i class="fas fa-envelope"></i>
        </div>
        <h3>Email us</h3>
        <p>info@crito.com<br>support@crito.com</p>
    </div>
</div>
