@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="features">
    <div class="container border">
        <div class="our-accounting">
            <div>
                <p>Features</p>
                <p class="bold">Our Accounting is<br>
                    trusted by thousand<br>
                    of companies</p>
            </div>
            <div class="btn">Learn more</div>
        </div>
        <div class="business-ad">
            <i class="fa-light fa-handshake fa-lg" style="color: #191919;"></i>
            <p class="bold">Business Advice</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="startup">
            <i class="fa-regular fa-lightbulb-exclamation-on fa-lg" style="color: #191919;"></i>
            <p class="bold">Startup Business</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="financial">
            <i class="fa-light fa-money-bill-trend-up fa-lg" style="color: #191919;"></i>
            <p class="bold">Financial Advice</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="risk">
            <i class="fa-light fa-box-circle-check fa-lg" style="color: #191919;"></i>
            <p class="bold">Risk Management</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>