@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- footer -->
<footer>
    <div class="wrapper">
        <div class="container">
            <div class="logo"><img src="~/images/logos/logotype-white.svg" alt="crito logo">
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas
                    voluptates!
                    Voluptates laborum nam ratione minus necessitatibus, iure praesentium.
                </div>
            </div>
            <div class="company">Company
                <div><a href="#">About</a></div>
                <div><a href="#">Features</a></div>
                <div><a href="#">Works</a></div>
                <div><a href="#">Career</a></div>
            </div>
            <div class="help">Help
                <div><a href="#">Customer Support</a></div>
                <div><a href="#">Delivery Details</a></div>
                <div><a href="#">Terms & Conditions</a></div>
                <div><a href="#">Privacy Policy</a></div>
            </div>
            <div class="resources">Resources
                <div><a href="#">Free eBooks</a></div>
                <div><a href="#">Development Tutorial</a></div>
                <div><a href="#">How to - Blog</a></div>
                <div><a href="#">Youtube Playlist</a></div>
            </div>
            <div class="link">Link
                <div><a href="#">Free eBooks</a></div>
                <div><a href="#">Development Tutorial</a></div>
                <div><a href="#">How to - Blog</a></div>
                <div><a href="#">Youtube Playlist</a></div>
            </div>
        </div>
        <div class="lines4"><img src="images/background-effects/background-lines-white-right.svg" alt=""></div>
    </div>
</footer>

<div class="copy">
    <div class="container">
        <div>© @DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</div>
        <div class="link-part">
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</div>