@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="newsletter-section">
    <div class="newsletter-container">
        <h2 class="newsletter-title">Get News Updates By Signup</h2>
        <div class="newsletter-form">
            <input type="email" class="newsletter-input" placeholder="username@domain.com">
            <button class="newsletter-button">Subscribe&nbsp;<i class="fa-regular fa-arrow-up-right fa-beat-fade"></i></button>
        </div>
    </div>
</div>
