@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="meetOurTeam">
    <div class="team-container">
        <div class="team-header">
            <div class="team-text">
                <p class="team-title">Meet Our Team</p>
                <h2 class="team-subtitle">Experience Team Members</h2>
            </div>
            <button class="team-browse-btn">Browse Team&nbsp;<i class="fa-regular fa-arrow-up-right fa-beat-fade"></i></button>
        </div>
    </div>

    <div class="team-grid-container">
        <div class="team-member">
            <div class="team-pic">
                <img src="~/images/womaninsuit.jpg" alt="Kristine Palmer">
            </div>
            <p class="team-name">Kristine Palmer</p>
            <p class="team-role">Chief Operation Officer</p>
        </div>
        <div class="team-member">
            <div class="team-pic">
                <img src="~/images/maninasuit.jpg" alt="Mark Aubri">
            </div>
            <p class="team-name">Mark Aubri</p>
            <p class="team-role">Senior Consultant</p>
        </div>
        <div class="team-member">
            <div class="team-pic">
                <img src="~/images/womaninadress.jpg" alt="Kimberly Hansen">
            </div>
            <p class="team-name">Kimberly Hansen</p>
            <p class="team-role">Senior Consultant</p>
        </div>
        <div class="team-member">
            <div class="team-pic">
                <img src="~/images/happyman.jpg" alt="Justin Willoman">
            </div>
            <p class="team-name">Justin Willoman</p>
            <p class="team-role">Senior Tech Consultant</p>
        </div>
    </div>
</div>


