@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="banner">
    <div class="breadcrumb">
        <a href="/">Home</a> &nbsp; / &nbsp; <span>News</span>
    </div>
    <h1>News & Articles</h1>
</div>