@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="ourService">
    <div class="container">
        <p>Our Service</p>
        <p class="bold">We Provide The Best<br> Service For Consulting</p>
    </div>
    <div class="wrapper-grid container">
        <div class="container">
            <div>
                <hr>
            </div>
            <div class="bold">Business Advice</div>
            <div>Lorem, ipsum dolor sit amet<br> consectetur adipisicing elit. Officiis in nam possimus.</div>
            <button class="btn"><i class="fa-regular fa-arrow-right fa-lg"></i></button>
        </div>
        <div class="container">
            <div>
                <hr>
            </div>
            <div class="bold">Startup Business</div>
            <div>Lorem, ipsum dolor sit amet<br> consectetur adipisicing elit. Officiis in nam possimus.</div>
            <button class="btn"><i class="fa-regular fa-arrow-right fa-lg"></i></button>
        </div>
        <div class="container">
            <div>
                <hr>
            </div>
            <div class="bold">Financial Advice</div>
            <div>Lorem, ipsum dolor sit amet<br> consectetur adipisicing elit. Officiis in nam possimus.</div>
            <button class="btn"><i class="fa-regular fa-arrow-right fa-lg"></i></button>
        </div>
        <div class="container">
            <div>
                <hr>
            </div>
            <div class="bold">Risk Managment</div>
            <div>Lorem, ipsum dolor sit amet<br> consectetur adipisicing elit. Officiis in nam possimus.</div>
            <button class="btn"><i class="fa-regular fa-arrow-right fa-lg"></i></button>
        </div>

    </div>
    <div class="browse">
        <div class="container">
            <button>Browse Services&nbsp;<i class="fa-regular fa-arrow-up-right fa-beat-fade"></i></button>
        </div>
    </div>
        <div class="lines2"><img src="images/lines2.svg" alt=""></div>
</div>