@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<body>
    <div class="pagination">
        <a href="#" class="page-link">&lt;</a>
        <a href="#" class="page-link active">1</a>
        <a href="#" class="page-link">2</a>
        <a href="#" class="page-link">3</a>
        <span class="page-dots">...</span>
        <a href="#" class="page-link">9</a>
        <a href="#" class="page-link">&gt;</a>
    </div>
</body>