@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="projectAndCase">
    <div class="title-container">
        <p class="title">Project & Case Studies</p>
        <h2 class="subtitle">Let’s Look at Our Global Projects</h2>
    </div>

    <div class="grid-container">
        <div class="project-item">
            <div class="project-pic">
                <img src="~/images/growbusiness.jpg" alt="Grow your business">
            </div>
            <p class="project-title">Grow your business</p>
            <a href="#">Read More&nbsp;<i class="fa-regular fa-arrow-up-right fa-beat-fade"></i></a>
        </div>
        <div class="project-item">
            <div class="project-pic">
                <img src="~/images/whyclient.jpg" alt="Why your client needs a responsive website">
            </div>
            <p class="project-title">Why your client needs a responsive website</p>
            <a href="#">Read More&nbsp;<i class="fa-regular fa-arrow-up-right fa-beat-fade"></i></a>
        </div>
        <div class="project-item">
            <div class="project-pic">
                <img src="~/images/educate.jpg" alt="Educate your employees to get better results">
            </div>
            <p class="project-title">Educate your employees to get better results</p>
            <a href="#">Read More&nbsp;<i class="fa-regular fa-arrow-up-right fa-beat-fade"></i></a>
        </div>
        <div class="project-item">
            <div class="project-pic">
                <img src="~/images/businessinsights.jpg" alt="Business Insights is an important piece of your business">
            </div>
            <p class="project-title">Business Insights is an important piece of your business</p>
            <a href="#">Read More&nbsp;<i class="fa-regular fa-arrow-up-right fa-beat-fade"></i></a>
        </div>
    </div>

    <div class="all-recent">
        <div class="project-container">
            <button class="all-btn">All Recent Projects&nbsp;<i class="fa-regular fa-arrow-up-right fa-beat-fade"></i></button>
        </div>
    </div>
</div>



