@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="_showcase">
    <div class="container font">
        <div>
            <div class="bold-font">We Provide The<br>Best Business<br>Solutions</div>

            <div class="thin-font">Establish your vision and value proposition and turn them into
                testable<br>prototypes.
            </div>
            <div class="under">
                <button class="btn1">Get Consulting</button>
                <button class="btn2">Learn More</button>
            </div>

        </div>
        <div class="_manreading"><img src="~/images/showcase-image.svg" alt="man"></div>
    </div>
    <div class="lines1"><img src="images/lines1.svg" alt=""></div>
</div>