@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="logos">
    <div class="container">
        <img src="~/images/logos/paperz.svg" alt="">
        <img src="~/images/logos/dorfus.svg" alt="">
        <img src="~/images/logos/martino.svg" alt="">
        <img src="~/images/logos/square.svg" alt="">
        <img src="~/images/logos/gobona.svg" alt="">
    </div>
</div>