@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="testimonials">
    <div class="testimonials-container">
        <div class="testimonials-header">
            <p class="testimonials-title">Testimonial</p>
            <h2 class="testimonials-subtitle">What Our Client Says</h2>
        </div>
        <div class="reviews">
            <div class="review">
                <div class="review-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                <div class="review-author">
                    <img src="~/images/cassandra.jpg" alt="Cassandra Warren">
                    <div class="author-info">
                        <p class="author-name">Cassandra Warren</p>
                        <p class="author-role">Business Manager, Dorfus</p>
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="review-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                <div class="review-author">
                    <img src="~/images/amanda.jpg" alt="Amanda Tulling">
                    <div class="author-info">
                        <p class="author-name">Amanda Tulling</p>
                        <p class="author-role">Senior Developer, Square</p>
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="review-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                <div class="review-author">
                    <img src="~/images/jack.jpg" alt="Jack McDogglas">
                    <div class="author-info">
                        <p class="author-name">Jack McDogglas</p>
                        <p class="author-role">Key Account Manager, Gobona</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="all-reviews-btn">All Reviews&nbsp;<i class="fa-regular fa-arrow-up-right fa-beat-fade"></i></button>
    </div>
</div>


